@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto';
  width: 100%;
  height: 100%;
}

nav {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  width: 100%;
  padding: 8px 10px;
  background-color: #171717;
  position: sticky;
  top: 0;
  left: 0;
}

nav img {
  display: flex;
  align-items: center;
  height: 40px;
}

nav ul{
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 0.5rem;
}

.loginBtn {
  background-color: #4d6bcb;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px;
  cursor: pointer;
}

.loginBtnHidden {
  display: none;
}

.loginBtn:hover{
  background-color: white;
  transition: ease-in 0.2s;
}

nav a:hover {
  color: #4d6bcb;
  /* font-weight: 600; */
  transition: ease-in 0.2s;
}

.active {
  color: #4d6bcb;
  border-radius: 10px;
  background-color: #292929;
  font-weight: 600;
  transition: ease-in 2s;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

nav h1{
  color: white;
  font-size: 1rem;
}

.navAdmin {
  /* visibility: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px; */
  padding: 0px 10px 0px 10px;
  background-color: #3d3d3d;
  width: 100%;
  position: sticky;
  top: 54px;
}
.navAdminHidden{
  visibility: hidden;
}

@media (max-width: 1100px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
    transition: all 2s;
  }
  nav ul {
    display: none;
    flex-direction: column;
    /* align-items: start; */
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open{
    display: flex;
  }

  nav ul li{
    width: 100%;
    text-align: start;
    margin: 0.5rem 0.2rem;
  }
}

.title {
  font-size: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.form input {
  width: 300px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
}

.form select {
  padding: 1px 2px;
  width: 306px;
  height: 34px;
  margin: 10px;
  font-size: 20px;
}

.teamNameCard {
  width: 35vw;
  min-width: 300px;
  margin: 30px;
  padding: 0px 10px;
  border: 1px solid black;
  border-radius: 35px;
}

.teamNameCard a:link {
  color:black;
  text-decoration: none;
}

.teamNameCard a:visited {
  color:black;
  text-decoration: none;
}

.teamNameCard a:hover {
  color: #4d6bcb;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  width: auto;
  text-align: center;
  /* border: 1px solid black; */
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  height: auto;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 10px;
}

.wholeScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  min-width: 500px;
  height: auto;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 35px;
}

.wholeScore h1{
  font-size: 15px;
}

.wholeScore span{
  font-size: 0.9rem;
}

.scoreCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreCard a:link {
  color:black;
  text-decoration: none;
}

.scoreCard a:visited {
  color:black;
  text-decoration: none;
}

.scoreCard a:hover {
  color: #4d6bcb;
}

.scoreAway {
  width: 30vw;
}

.scoreHome {
  width: 30vw;
}

.score {
  width: 30vw;
  padding-top: 50px;
}

.score h1{
  font-size: 30px;
}

.score a:link {
  color:black;
  text-decoration: none;
}

.score a:visited {
  color:black;
  text-decoration: none;
}

.score a:hover {
  color: #4d6bcb;
}

.table {
  table-layout: auto;
  white-space: nowrap;
}

.table a:link {
  color:black;
  text-decoration: none;
}

.table a:visited {
  color:black;
  text-decoration: none;
}

.table a:hover {
  color: #4d6bcb;
}

.btnDelGame  {
  width: 90px;
}

.table input {
 width: 40px; 
}

.tablex {
  counter-reset: rowNumber-1;
  border: 2px solid black;
  width: 35vw;
  min-width: 300px;
}

.tablex tr {
  counter-increment: rowNumber;
}

.tablex tr td:first-child::before {
  content: counter(rowNumber);
}

.tablex a:link {
  color:black;
  text-decoration: none;
}

.tablex a:visited {
  color:black;
  text-decoration: none;
}

.tablex a:hover {
  color: #4d6bcb;
}

.boldtext {
  width: 100%;
  Height: 30px;
  font-weight: bold;
  font-size: 20px;
  /* border: 2px solid blue; */
}

.blockDiv {
  display: flex;
  padding: 0px 0px 30px 0px;
}

.stats {
  display: grid;
  padding: 0px 3px;
  justify-content: center;
  width: 35vw;
  min-width: 300px;
  /* border: 1px solid red; */
}

.playerInfoCard{
  width: 80%;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.row{
  display: flex;
  margin-left: 50px;
}

.row1{
  height: 3vw;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.row1 img{
  height: 3vw;
  /* margin: 0px 20px 0px 40px; */
  border-radius: 50%;
}

.firstName{
  color: white;
  font-weight: 100;
  font-size: 2.25vw;
  margin-left: 50px;
  margin-top: 40px;
}
.lastName{
  color: white;
  font-weight: 700;
  font-size: 3vw;
  text-transform: uppercase;
  margin-right: 40px;
}

.number{
  margin-left: 40px;
}

.number, .position{
  color: white;
  font-size: 1.5vw;
  font-weight: 100;
}

.separator{
  width: 0.2vw;
  height: 2vw;
  background-color: #4d6bcb;
  margin: 0px 10px;
}

.separator2{
  width: 10vw;
  height: 0.2vw;
  background-color: #4d6bcb;
  margin: 20px 0;
}

.smallText{
  color: white;
  font-size: 0.8vw;
  margin-right: 10px;
  font-weight: 100;
  margin-bottom: 5px;
}

.bigBoldText{
  color: white;
  font-size: 2vw;
  margin-right: 10px;
}

.row3{
  display: flex;
  column-gap: 5vw;
}

.height, .weight{
  display: flex;
  align-items: flex-end;
}

.row4{
  column-gap: 2.6vw;
  margin-top: 1vw;
}

.playerAvgsDiv{
  width: 100%;
  height: auto;
  background-color: #292929;
  display: flex;
  align-items: center;
}

.avgTable{
  /* border: 1px solid white; */
}

.avgTable th{
  color: white;
  font-size: 0.8vw;
  margin-right: 10px;
  font-weight: 100;
  margin-bottom: 5px;
  border: none;
}

.avgTable td{
  color: white;
  font-size: 1vw;
  margin-right: 10px;
  font-weight: 400;
  margin-bottom: 5px;
  border: none;
}

.smallTextAvg{
  color: white;
  font-size: 0.8vw;
  margin-right: 10px;
  font-weight: 100;
  margin-bottom: 5px;
}