@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
}

nav {
  font-family: 'Open Sans';
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  width: 100%;
  padding: 0px 10px 0px 10px;
  background-color: #171717;
  position: sticky;
  top: 0
}

nav img {
  display: flex;
  align-items: center;
  height: 40px;
}

nav ul{
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0 0.5rem;
}

nav a:hover {
  color: #4d6bcb;
  transition: ease-in 0.2s;
}

.active {
  color: #4d6bcb;
  border-radius: 10px;
  background-color: #292929;
  transition: ease-in 2s;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

nav h1{
  color: white;
}

@media (max-width: 1100px) {
  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
}

.navAdmin {
  /* visibility: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px 10px 0px 10px;
  background-color: #3d3d3d;
  width: 100%;
  position: sticky;
  top: 54px;
}

.navAdmin a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 20px;
}

.navAdmin span {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 20px;
}

.navAdmin a:hover {
  color: #ff0000;
  border-radius: 5px;
}

.navAdmin h1 {
  font-size: 20px;
  color:#ff0000;
}

.title {
  font-size: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.form input {
  width: 300px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
}

.form select {
  padding: 1px 2px;
  width: 306px;
  height: 34px;
  margin: 10px;
  font-size: 20px;
}

.teamNameCard {
  width: 700px;
  /* height: 180px; */
  margin: 30px;
  padding: 0px 10px;
  border: 1px solid black;
  border-radius: 35px;
}

.teamNameCard a:link {
  color:black;
  text-decoration: none;
}

.teamNameCard a:visited {
  color:black;
  text-decoration: none;
}

.teamNameCard a:hover {
  color: #4d6bcb;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  width: auto;
  text-align: center;
  /* border: 1px solid black; */
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 820px;
  height: auto;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 10px;
}

.wholeScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 820px;
  height: auto;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 35px;
}

.wholeScore h1{
  font-size: 15px;
}

.scoreCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreCard a:link {
  color:black;
  text-decoration: none;
}

.scoreCard a:visited {
  color:black;
  text-decoration: none;
}

.scoreCard a:hover {
  color: #4d6bcb;
}


.scoreAway {
  width: 300px;
}

.scoreHome {
  width: 300px;
}

.score {
  width: 200px;
  padding-top: 50px;
}

.score h1{
  font-size: 30px;
}

.score a:link {
  color:black;
  text-decoration: none;
}

.score a:visited {
  color:black;
  text-decoration: none;
}

.score a:hover {
  color: #4d6bcb;
}

.table {
  table-layout: auto;
  white-space: nowrap;
}

.table a:link {
  color:black;
  text-decoration: none;
}

.table a:visited {
  color:black;
  text-decoration: none;
}

.table a:hover {
  color: #4d6bcb;
}

.btnDelGame  {
  width: 90px;
}

.table input {
 width: 40px; 
}

.tablex {
  counter-reset: rowNumber-1;
  border: 2px solid black;
}

.tablex tr {
  counter-increment: rowNumber;
}

.tablex tr td:first-child::before {
  content: counter(rowNumber);
}

.tablex a:link {
  color:black;
  text-decoration: none;
}

.tablex a:visited {
  color:black;
  text-decoration: none;
}

.tablex a:hover {
  color: #4d6bcb;
}

.boldtext {
  width: 350px;
  Height: 30px;
  font-weight: bold;
  font-size: 20px;
}

.blockDiv {
  display: flex;
  padding: 0px 0px 30px 0px;
}

.stats {
  display: grid;
  padding: 0px 3px;
  justify-content: center;
  width: 350px;
}